<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="UpperOffset" value="100" />
    <add key="LowerOffset" value="100" />
    <add key="LeftOffset" value="100" />
    <add key="RightOffset" value="100" />
    <add key="FPS" value="10" />
    <add key="LEDSX" value="32" />
    <add key="LEDSY" value="18" />
    <add key="BaudRate" value="3" />
    <add key="InterpolationMode" value="7" />
    <add key="CustomWidth" value="1920" />
    <add key="CustomHeight" value="1080" />
    <add key="FadeTiming" value="10" />
    <add key="AmbilightModes" value="5" />
    <add key="CaptureMode" value="1" />
    <add key="AudioDevice" value="1" />
    <add key="CaptureArea" value="0" />
    <add key="PreventSleep" value="false" />
    <add key="PreventAwayMode" value="false" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>